<div class="format">
  <h2>Listagem de imagens</h2>
  <mat-divider></mat-divider>
  <br>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of dataSource; let i = index">
      <div mat-card-avatar> <mat-icon mat-list-icon>insert_photo</mat-icon> </div>
      <a matLine routerLink="/Image/{{ pagination.all }}/{{ i }}/{{ item }}" routerLinkActive="active">{{ item }}</a>
    </mat-list-item>
  </mat-nav-list>
  <div>
    <mat-paginator (page)="handlePageEvent($event)" [length]="pagination.all" [pageSize]="req.qtd" [pageSizeOptions]="[5]"></mat-paginator>
  </div>
</div>


<!--
Adicionar a div do card para ser responsivo (npm i @angular/flex-layout)

fxFlex="0 1 calc(33.3% - 11px)"
fxFlex.lt-md="0 1 calc(50% - 11px)"
fxFlex.lt-sm="100%" 
-->


