table {
    width: 100%;
}

.table-container {
    max-height: 85%;
    max-width: 85%;
    overflow: auto;
    align-items: center;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.data-table{
  width: 80%;
  margin: 20px;
}

.data-card {
  max-width: 400px;
}

.data-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.format{
  margin-left: 10%; 
  margin-right: 10%; 
  margin-top: 5%;
}

